- content_for :javascript do
  $location = new Location();
  $location.initializeLocation();
  $location.setMap();

  Inbox.initializeMessageBox();

.side-content
  = link_to "Message", "#", id: "message-box-link", data: { url: new_message_path(receiver_id: @person.id) }, class: "btn btn-default btn-block" unless @person.is_current_person?(current_person)
  = link_to "Follow", "#", class: "btn btn-default btn-block"
  = link_to "Feedback", "#", class: "btn btn-default btn-block"
#google-maps
