- content_for :javascript do
  $location = new Location();
  $location.initializeLocation();
  $location.setMap();

  Inbox.initializeMessageBox();
  Follow.initializeFollowings();

- unless @person.is_current_person?(current_person)
  .side-content
    = link_to "Message", "#", id: "message-box-link", data: { url: new_message_path(receiver_id: @person.id) }, class: "btn btn-default btn-block"
    - if current_person.following_a_person(@person.id).present?
      = link_to "Unfollow", follow_path(current_person.following_a_person(@person.id).id), data: { method_type: :put, follow: true }, class: "btn btn-default btn-block", id: "follow-person"
    - else
      = link_to "Follow", follow_index_path(follower_id: @person.id), data: { method_type: :post, follow: false }, class: "btn btn-default btn-block", id: "follow-person"
    -# = link_to "Feedback", "#", class: "btn btn-default btn-block"
#google-maps
