.side-content
  = link_to "Message", "#", class: "btn btn-default btn-block"
  = link_to "Follow", "#", class: "btn btn-default btn-block"
  = link_to "Feedback", "#", class: "btn btn-default btn-block"
