.listings
  .row
    .col-md-3.col-sm-3.col-xs-3
      .thumbnail
        = image_tag "listing-dummy-1.jpeg"
        .caption
          %p.created 5 days
          .desc
            %h4
              The Quite Life
              %small ONE SIZE
            %p.content
              Quite life Cosmos Black Five Panel
          %p.price $70
    .col-md-3.col-sm-3.col-xs-3
      .thumbnail
        = image_tag "listing-dummy-2.jpeg"
        .caption
          %p.created 5 days
          .desc
            %h4
              Supreme
              %small ONE SIZE
            %p.content
              Supreme Box Logo Cross Camp Cap
          %p.price $80
    .col-md-3.col-sm-3.col-xs-3
      .thumbnail
        = image_tag "listing-dummy-3.jpeg"
        .caption
          %p.created 6 days
          .desc
            %h4
              Nudie Jeans
              %small US 30/EU 46
            %p.content
              Nudie Jeans Black Selvage Denim
          %p.price $100
    .col-md-3.col-sm-3.col-xs-3
      .thumbnail
        = image_tag "listing-dummy-4.jpeg"
        .caption
          %p.created 7 days
          .desc
            %h4
              Polo Ralph Lauren
              %small Small/44-46
            %p.content
              Vintage Ralph Lauren Polo Bear Tea
          %p.price $60
