.listing-uploads
  .row
    .col-md-4.dummy-box
      %a{href: "#"}
        .upload-box
          .upload-centered-text
            Select File
    .col-md-4
      %a{href: "#"}
        .upload-box
          .upload-centered-text
            Select File
    .col-md-4.wrapper-upload
      %a.add-more-uploads{href: "#"}
        .upload-box
          .upload-centered-text
            + Add More
