- title "Listings - Threadhabits"
= heading_section :h2, "Sell Item"
.listings-index
  .authform.authform-container-fluid
    .form-group
      %h4 Select Category
      .list-group.categories
        - @categories.each do |category|
          %a.list-group-item{:href => new_listing_path(slug: category.slug)}
            = category.name
