.listings-index
  .categories
    font-size: 20px
    a
      text-align: center

.listing-form
  #listing_price
    width: 35%

  .listing-uploads
    button.kv-file-upload
      display: none
    .fileinput-upload
      display: none

.listing-filters
  .panel
    border-color: #aaa
    border-radius: 2px
    .field-strip
      background: #EFEFEF
      padding: 4px 10px
      margin: 20px 0
      span
        padding-right: 7px
    #priceFilter
      padding-top: 15px
      .noUi-connect
        background: #000
      .noUi-handle
        background: #D0D0D0
        box-shadow: none
      .noUi-handle-lower
        left: -6px
      .noUi-handle-upper
        left: -26px
      #priceDisplayRangeSet
        margin-top: 15px
    #locationFilter
      input[type='text']
        border-width: 1px
      .input-group-addon, input[type='text']
        border-radius: 1px
      .input-group-addon
        background-color: #fff
    .scroll
      max-height: 250px
      overflow: scroll

.listing-details
  margin-top: -35px
  img.listing
    margin: 0 auto
    text-align: center
    margin-top: 25px
    margin-bottom: 25px
    width: 80%
  .box
    padding: 0
    padding-bottom: 2em
  .box-left
    background-color: #F5F5F7
  .box-right
    background-color: #FFFFFF

  .detailed
    margin-top: 10em
    .heading-bottom
      span.item-name
        font-size: 18px
      span.size
        font-size: 28px
    .description
      margin-top: 45px
      margin-bottom: 15px
    .condition
      font-size: 20px

  .owner-profile
    margin-top: 15px
    .profile-details
      margin-bottom: 15px
      .heading
        font-size: 22px
      .sellings
        color: red
