$feedback-color: #b8ea1a;

@mixin split-background-half {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,207cca+68,ffffff+68,ffffff+69,ffffff+100&0.01+53,1+100 */
  background: -moz-linear-gradient(top,  rgba(32,124,202,0.01) 0%, rgba(206,226,243,0.01) 53%, rgba(255,255,255,0.33) 68%, rgba(255,255,255,0.35) 69%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(32,124,202,0.01) 0%,rgba(206,226,243,0.01) 53%,rgba(255,255,255,0.33) 68%,rgba(255,255,255,0.35) 69%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(32,124,202,0.01) 0%,rgba(206,226,243,0.01) 53%,rgba(255,255,255,0.33) 68%,rgba(255,255,255,0.35) 69%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03207cca', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

// Window Size For Macbook
.profile .cover-img {
  background-size: cover !important;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -35px;
  min-height: 350px;
}

.profile .top-content {
  position: relative;
  top: -100px;
  border-bottom: 1px solid #c1c1c1;
  margin-left: -15px;
  margin-right: -15px;
  @include split-background-half();

  .row {
    margin-right: 0px;
  }
  .image-profile {
    z-index: 9;
  }

  ul.contact {
    font-size: 21px;
    span.location{ color: red; }
  }

  .profile-text {
    margin-top: -15px;
    margin-bottom: 30px;
    color: #fff;
  }

  ul.additional-details {
    margin-top: 15px;
    text-align: center;
    li {
      span.value { font-size: 18px; }
      span.label {
        color: #000;
        padding: 0;
        font-size: 18px;
      }
    }
    li.followers, li.followings {
      a {
        color: $black;
        &:hover, &:focus {
          color: #777;
        }
      }
    }
    li.feedback {
      color: $feedback-color;
    }
  }
}

// Generate sprite (Multiple images to single sprite image)
@import "compass/utilities/sprites";
@import "social-icons/*.png";

.profile .bottom-content {
  ul.socal-icons-list {
    li {
      @include all-social-icons-sprites;
      a { padding: 9px 20px; }
    }
  }
  .listing-tabs {
    padding: 0px 15px;
    li {
      a { color: rgba(119, 119, 119, 0.43); }
      &.active a {
        color: #777;
      }
      padding-right: 22px;
      text-align: center;
      font-size: 25px;
    }
  }
  position: relative;
  top: -90px;
}

.profile .side-content {
  a {
    padding: 15px 0px;
  }
}

// Window Size Above Macbook 13inch
@media (min-width: 1440px) {
  .profile .top-content {
    top: -125px;
    p.desc {
      margin: 25px 0;
    }

    ul.additional-details {
      margin: 58px 0px;
      li {
        padding-left: 10px;
        padding-right: 10px;
        span.value { font-size: 20px; }
        span.label { font-size: 20px; }
      }
    }
  }
}

// Window Size For Ipad
@media (max-width: 1024px) {
  .profile .cover-img {
    min-height: 235px;
  }
  .profile .top-content {
    top: -70px;
    .profile-text > h1 {
      font-weight: 700;
      font-size: 25px;
    }
    .image-profile {
      z-index: 9;
    }
  }
  .profile .bottom-content {
    top: -58px;
  }
}
