// Contains Plugins Custom CSS

// File Image Preview Profile Plugin
.image-preview {
  .button {
    padding: 6px 25px;
    border-color: #ccc;
  }

  .image-preview-input {
    position: relative;
  	overflow: hidden;
  	margin: 0px;
    color: #333;
    background-color: $primary-color;
    border-color: #ccc;
  }

  .image-preview-input input[type=file] {
  	position: absolute;
  	top: 0;
  	right: 0;
  	margin: 0;
  	padding: 0;
  	font-size: 20px;
  	cursor: pointer;
  	opacity: 0;
  	filter: alpha(opacity=0);
  }
  .image-preview-input-title {
    margin-left:2px;
  }
}

// jQuery Validation Error Label
label.error {
  position: relative;
  background: #e04343;
  border: 2px solid #ad6873;
  color: $primary-color;
  padding: 3px 10px;
  font-size: 17px;
  top: -7px;
  border-radius: 4px;
}

label.error:after, label.error:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

label.error:after {
	border-color: rgba(224, 67, 67, 0);
	border-bottom-color: #e04343;
	border-width: 4px;
	margin-left: -4px;
}

label.error:before {
	border-color: rgba(173, 104, 115, 0);
	border-bottom-color: #ad6873;
	border-width: 7px;
	margin-left: -7px;
}

// Select2 Dropdown plugin
.select2-selection {
  border-radius: 0 !important;
  border: 1px solid #aaa !important;
  height: 46px !important;
  line-height: 46px !important;
  padding: 8px 5px;
  font-size: 18px;
  .select2-selection__arrow {
    top: 10px !important;
  }
}
.select2-results__options {
  li.select2-results__option--highlighted[aria-selected] { background-color: #aaa; }
}
.select2-search__field {
  @extend .form-control;
}

// File input plugin
.file-input {
  .btn { border-width: 1px; }
  .file-preview-frame {
    width: 283px;
  }
}

#kvFileinputModal {
  img { width: auto !important; }
}

.file-status-container {
  @extend .alert;
  font-size: 15px !important;
  color: $primary-color !important;
  margin-top: 10px;
  display:none;
}
#file-upload-error-container { @extend .alert-danger; }
#file-upload-success-container { @extend .alert-success; }

// Forms
.radio label, .checkbox label {
  padding-left: 5px !important;
}

.checkbox { padding-left: 22px; }

// Pagination
.items-pagination {
  text-align: center;
  li span {
    border-width: 2px !important;
    &:focus, &:hover {
      background-color: $success-color;
      border-color: $success-border-color;
    }
  }
  li a {
    border-width: 2px; color: #777 !important;
    &:focus, &:hover {
      background-color: $success-color;
      border-color: $success-border-color;
    }
  }
  li.active span {
    background-color: $default-color;
    border-color: $success-border-color;
    color: $primary-color;
    &:focus, &:hover {
      background-color: $success-color;
      border-color: $success-border-color;
    }
  }
}