// Application Welcome Sass
body {
  font-family: 'Lato', sans-serif;
  background-color: $theme_bg_color;
  margin-top: 5em;
  position: relative;
}

// Landing Banners
.landing-banner {
  min-height: 600px;
  background-size: cover;
  text-align: center;
  color: white;
  border-radius: 0px !important;
  display: block;
  position: relative;
  margin-bottom: -2px !important;
  margin-top: -10px;
  background-repeat: no-repeat;

  h1.info {
    @include single-text-shadow(0px, 0px, 7px, black);
    color: white;
    font-size: 4.7em;
    font-weight: 100;
    line-height: 80px;
    margin-top: 2.3em;

    a { color: white !important; text-transform: capitalize; }
  }
}

//****** Hover Effects ****** //

//.hover_effect {
//  width: 100%;
//  height: 100%;
//  float: left;
//  overflow: hidden;
//  position: relative;
//  text-align: center;
//  cursor: pointer;
//
//  .overlay {
//    width: 100%;
//    height: 100%;
//    position: absolute;
//    overflow: hidden;
//    top: 0;
//    left: 0;
//  }
//
//  .effective {
//    display: inline-block;
//    text-decoration: none;
//    padding: 7px 120px;
//    //border: 1px solid;
//    margin: 6em 0 0 0;
//    background-color: transparent;
//    font-size: 3em;
//    //@include transform(scale(0.9));
//    //@include single-transition(all, 0.4s, ease-in);
//    opacity: 1;
//    filter: alpha(opacity=0);
//    color: #fff;
//    text-transform: uppercase;
//  }
//
//  .landing-banner {
//    min-height: 600px;
//    background-size: cover;
//    text-align: center;
//    color: white;
//    margin-bottom: 0px !important;
//    border: 1px solid #bbb;
//    position: relative;
//    border-radius: 0px !important;
//    display: block;
//    position: relative;
//    //@include single-transition(all, 0.34s, ease-in);
//  }
//
//  h1.info {
//    @include single-text-shadow(0px, 0px, 7px, black);
//    color: white;
//    font-size: 4.7em;
//    font-weight: 100;
//    line-height: 80px;
//    margin-top: 3.4em;
//
//    a { color: white !important; text-transform: capitalize; }
//    //a.sell { color: $sell !important; }
//  }
//
//  h1.effective { font-size: 4em; margin-top: 4.1em; }
//
//  //&:hover {
//    //.landing-banner {
//    //  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
//    //  filter: grayscale(1) blur(3px);
//    //  -webkit-filter: grayscale(1) blur(3px);
//    //  @include transform(scale(1.2));
//    //}
//
//    //.effective {
//    //  box-shadow: 0 0 15px #fff;
//    //  opacity: 1;
//    //  filter: alpha(opacity=100);
//    //  @include transform(scale(1));
//    //  a {
//    //    pointer-events: all;
//    //  }
//    //}
//  //}
//}

.search-results {
  h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

main {
  min-height: 800px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-top: 23px;
}

.heading_section {
  @include single-text-shadow;
  background-color: white;
  background: url($s3_asset_path + "THbanner.png");
  min-height: 95px;
  padding: 10px 6em;
  margin: 0px -15px;
  margin-bottom: 15px;
  margin-top: 18px;
  h1, h2, h3, h4 {
    color: white;
    font-weight: 600;
  }
  h1 { font-size: 40px; }
  h2 { font-size: 35px; }
}

a {
  color: #777;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
  }
}

ul.list-right {
  float: right !important;
  margin-right: 0;
}

#google-maps {
  margin-top: 15px;
  height: 325px;
}

.hide-content {
  display: none;
}
