// Application Welcome Sass
#banners {
  margin-top: -15px;
  // Landing Banners
  .landing-banner {
    min-height: 600px;
    background-size: cover;
    text-align: center;
    color: $primary-color;
    border-radius: 0px !important;
    display: block;
    position: relative;
    margin-bottom: 0px;

    h1.info {
      @include single-text-shadow(0px, 0px, 7px, $default-color);
      color: $primary-color;
      font-size: 4.7em;
      font-weight: 100;
      line-height: 80px;
      margin-top: 2.3em;

      a { color: $primary-color !important; }
    }
  }

  $banner-y-positions: -260 -110 -350 -450;
  @each $position in $banner-y-positions {
    $i: index($banner-y-positions, $position);
    .banner-#{$i} {
      background-position-y: $position + px;
    }
  }
}

.search-results {
  h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

main {
  min-height: 800px;
  margin-top: 100px;
  margin-bottom: 35px;
}

.heading_section {
  @include single-text-shadow;
  background-color: white;
  background: url($s3-asset-path + "THbanner.png");
  min-height: 95px;
  padding: 10px 6em;
  margin: 0px -15px;
  margin-bottom: 15px;
  margin-top: 85px;
  h1, h2, h3, h4 {
    color: white;
    font-weight: 600;
  }
  h1 { font-size: 40px; }
  h2 { font-size: 35px; }
}

a {
  color: #777;
  &:hover, &:focus {
    color: $default-color;
    text-decoration: none;
  }
}

ul.list-right {
  float: right !important;
  margin-right: 0;
}

#google-maps {
  margin-top: 15px;
  height: 325px;
}

.hide-content {
  display: none;
}
