- content_for :javascript do
  AboutUs.initializeTweaks();
#about_us
  .container
    .row
      .col-md-3.col-sm-3.col-xs-3
        .side-affix#side-about-scrollspy
          %ul.nav
            %li.active
              %a{href: '#about'}
                About
                %span
            %li
              %a{href: '#market_place'}
                Market Place
                %span
            %li
              %a{href: '#contact'}
                Contact Us
                %span
            %li
              %a{href: '#faq'}
                Faq
                %span
            %li
              %a{href: '#authenticity'}
                Authenticity
                %span
            %li
              %a{href: '#toc'}
                Terms of use
                %span
            %li
              %a{href: '#privacy_policy'}
                Privacy policy
                %span
      .col-md-9.col-sm-9.col-xs-9
        .side-descriptions
          %section#about
            %p
              Founded in 2017, Threadhabits is a peer to peer clothing distribution marketplace that focuses on quality control, authentic goods, and affordable pricing. Wether you’re looking to purchase new clothing or sell clothing you’re wanting to get rid of, this is the place to do it.

            %p We created Threadhabits because we see the massive amount of room for potential, improvement, and opportunity in - not only the marketplace, e-commerce, and general tech realm - but even more specifically in the clothing and fashion industry.

            %p The main functionality and purpose of Threadhabits.com is to provide the community with a platform to uncover rare, sought-after & hard to find pieces, purchase affordable clothing, discover new companies, sell clothing, and to allow individuals access to a larger selection of clothing than their local selection.

            %p Each individual who creates an account has the opportunity to create an extensive custom user profile where they can follow other users, sell products, communicate freely and openly with those in the fashion community, browse through our site’s inventory, and much more.

            %p We have a very large vision for our company and product and have huge plans for the future. We look forward to having you as a long-term member and being the most important part of Threadhabits.

          %section#market_place
            %p Our marketplace is perfect if you’re looking to purchase new clothing or sell clothing you’re wanting to get rid of.

            %p Most marketplaces and companies charge the seller anywhere from 9%-20% commission on the sale made. Our marketplace is completely free.

            %p For our marketplace, we focus on quality control, making sure products are authentic, and keeping things affordable.

            %p We sustain quality control by filtering, editing, and deleting products, only allowing select sellers to sell on our marketplace, and more.

            %p For product authenticity, our team is experienced and knowledgeable about authentic and replica items, and if in the rare case a replica item is received, you are protected by our protection policy as well as PayPal’s.

            %p Lastly, we focus on keeping things affordable by allowing buyers and sellers to use our service for free.


            %h3
              %strong Selling tips

            %p Our marketplace is perfect if you’re looking to sell clothing you’re wanting to get rid of. Below are some tips to show how to list your items properly and to have successful sales on our platform.

            %h4
              %strong 1. Take Good Pictures.

            %p Taking good photos of your product is crucially important. Making sure your photos are taken correctly attracts buyers and allows the buyer to truly see the product that they’re interested in.

            %p Even if your item isn’t deadstock (brand new), you should do your best in making it look deadstock and as clean as possible. If possible, use solid backgrounds. Using a solid background makes the product look more attractive and will usually sell faster. Making your product pictures look like stock images almost guarantees your item to sell if priced correctly.

            %h4
              %strong 2. Price Competitively.

            %p We live in a world where everyone price checks items via their smartphone / the internet. Especially when purchasing online.

            %p When a buyer is looking at your product, realize that they will be checking other sources to see if they can find the item in better condition or for a better price. 99% of the time, if the buyer finds the same product for a cheaper price somewhere else, they will purchase it there and you will lose the sale.

            %p By offering unbeatably low prices, you can prevent losing sales. You shouldn’t give your stuff away dirt-cheap, however you should consider having better pricing than the rest of the market. This will translate to more sales long-term.


            %h4
              %strong 3. Communication.

            %p Communication is key. One of the many reasons that Threadhabits is different from other companies is that we emphasize user identity and prioritize open, easy, and transparent communication.

            %p On Threadhabits, we allow you to really engage with the customer through our messaging software as well as seeing the user’s individual profile.

            %p If you communicate well with the community and buyers on the platform - not only will you make more sales and build your reputation -  you will also be connecting and creating rapport with the international community.


          %section#contact
            %p
              Here’s our contact information if you have any questions, concerns or issues.
            %p
              We check our messages continuously 24 hours a day and 7 days a week, and will get back to you as soon as possible.
            %address
              %strong Email:
              %a{:href => "mailto:quinn@threadhabits.com"} quinn@threadhabits.com
              %br/
              %strong Phone Number:
              +1 (864)202-3107

          %section#faq
            %strong What is Threadhabits?
            %p Founded in 2017, Threadhabits is a peer to peer clothing distribution marketplace that focuses on quality control, authentic goods, and affordable pricing. Wether you’re looking to purchase new clothing or sell clothing you’re ready to get rid of, this is the place to do it.

            %strong How does it work?
            %p Sellers list their items on our platform, and they’re automatically published as inventory on our website.

            %strong What are your fees?
            %p One of the many things that makes Threadhabits so great is that it’s free for both buyers and sellers. Threadhabits charges 0% commission unlike other marketplaces that charge 9%-25%. However, PayPal does charge a 2.5% fee when you receive a payment. We are unable to do anything about PayPal fees.

            %strong How do I contact Threadhabits?
            %p Our customer service is 24/7. You can send us an email at quinn@threadhabits.com, use our contact form, or call us at +1 8642023107

            %strong How do I contact a user?
            %p You can contact a user by either clicking on the “Message” button on product listings, or on the “Message” button on the user’s profile.


            %h3
              %strong Orders, Shipping & Returns

            %strong How does payment work?
            %p As a buyer, you are able to purchase an item through our secure PayPal checkout process using either your credit card, debit card, or PayPal balance.

            %strong Do you ship internationally?
            %p The option to ship internationally is decided on by the individual seller. If you have any concerns about shipping, feel free to contact the seller directly through our messenger.

            %strong Do you accept PayPal?
            %p All sellers on Threadhabits are required to have a PayPal account to list items on our platform. Any seller on our account accepts PayPal.

            %strong What payment methods do you accept?
            %p As a buyer, you are able to purchase an item through our secure PayPal checkout process using either your credit card, debit card, or PayPal balance. PayPal accepts all major card companies.

            %strong How do I place an order?
            %p You can place an order by adding an item to your cart and checking out, by clicking the “Checkout with PayPal” button on the product listing, or by clicking the purchase button visible in your messenger if you were discussing a product with a seller.

            %strong Why isn’t my payment going through?
            %p Although there are many reasons that your payment could be declined, a few examples could be your card information being incorrect, having an insufficient PayPal balance, or your bank declining your payment. Our payment processor is PayPal, so it may be beneficial to take a look at their reasons as to why your payment could be declined.

            %strong Are your items authentic?
            %p Unlike a lot of marketplaces, we pay incredible attention to quality control on our site. We look at each listing individually to make sure that the listing images are high-quality, the product is described correctly, the user is qualified to sell on our platform, and the item is authentic. If you receive an item that you believe was not described correctly or isn’t authentic, you are protected by Threadhabits and by PayPal’s buyer seller protection that insures money back guaranteed.

            %strong Do you accept returns?
            %p The ability to return an item varies and is dependent on each individual seller on our platform. If you want to know if a seller accepts returns on the item they are selling, we recommend that you contact the seller directly. If an item received is damaged or not as described, you are protected by our protection policy as well as PayPal’s.

            %strong How much does shipping cost?
            %p Similar to returns, shipping costs are also dependent on the sellers on our platform. Shipping costs are determined by each individual seller and may vary based on location. We recommend that you contact the seller directly if you have any questions regarding shipping of a particular item.


            %h3 Selling on Threadhabits

            %strong How do I sell on Threadhabits?
            %p Firstly, to sell on Threadhabits you need to have an account with us. After logging into your account, there is a “Sell” button in the top right corner that you click on to create a listing.

            %strong How do I get paid?
            %p As a seller, when a buyer purchases your item, the funds are deposited directly into the PayPal account associated with the email address you supplied us with in your settings.

            %strong When do I receive payment?
            %p As soon as a buyer purchases your product, their funds are deposited directly into your PayPal account.

            %strong What are your fees?
            %p One of the many things that makes Threadhabits so great is that it’s free for both buyers and sellers. Threadhabits charges 0% commission unlike other marketplaces that charge 9%-25%. However, PayPal does charge a 2.5% fee when you receive a payment. We are unable to do anything about PayPal fees.

            %strong As a seller, do I pay for shipping?
            %p Shipping is paid for by the buyer. As a seller, you are in charge for listing the shipping cost that the buyer pays for your product.

            %strong How do I edit or delete my listing?
            %p To edit or delete your listing, simply go to your product page and there will be an option to edit your listing or delete your listing.

          %section#authenticity
            %p As we mentioned, we take quality control and authenticity very seriously. We don’t allow any un-authentic or replica items to be sold on our platform.

            %p Our team is knowledgeable enough to know if an item is authentic or a replica. If a seller attempts to sell replica items on our platform, they will be banned from using our service permanently.

          %section#toc
            %p
              PLEASE READ THIS TERMS OF USE AGREEMENT (“AGREEMENT” OR “TERMS OF USE”) CAREFULLY BEFORE USING THE WEBSITE, MOBILE APPLICATIONS AND SERVICES OFFERED BY THREADHABITS, LLC. OR ANY OF ITS SUBSIDIARIES (“THREADHABITS” OR THE “COMPANY”). THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT WWW.THREADHABITS.COM (“WEBSITE”), MOBILE APPLICATIONS, AND SERVICES PROVIDED BY THREADHABITS (COLLECTIVELY, “SERVICES”).
            %p
              PLEASE READ THESE TERMS OF USE CAREFULLY. THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, INCLUDING MANDATORY ARBITRATION, NO CLASS RELIEF, AND WAIVER OF YOUR RIGHT TO A JURY TRIAL.

            %p
              This Agreement is effective on January 1st, 2017 for current users and as of the first use of the Website or Services by new users. This Agreement is between you and Threadhabits, LLC. Any user who is found to be in violation of the following Agreement and any other policies posted on the Website may be banned, at the sole discretion of Threadhabits, from using the Website or any Services.

            %h5
              %strong Introduction

            %p
              Thank you for visiting our site! Threadhabits is a platform for users to buy and sell menswear items such as clothing and accessories. By using our services in any manner, including but not limited to visiting or browsing the Website, you (the "user" or "you") agree to the following Terms of Use Agreement, including those additional terms, conditions, and policies referenced herein and/or available by hyperlink. This Agreement applies to all users of the Services, including without limitation users who are vendors, customers, merchants, and contributors of content, information, and other materials or services on our Website.

            %p
              If you have any questions, please refer to the Help & FAQs section on our Website, or contact us.

            %h5
              %strong Changes to the Agreement

            %p
              WE MAY CHANGE THE TERMS OF THIS AGREEMENT FROM TIME TO TIME, WITH OR WITHOUT NOTICE TO YOU AND AT OUR SOLE DISCRETION, AND YOUR CONTINUED USE OF THE WEBSITE OR ANY SERVICES AFTER SUCH CHANGES TO THIS AGREEMENT HAVE BEEN POSTED CONSTITUTES ACCEPTANCE OF ALL SUCH CHANGES. IT IS YOUR RESPONSIBILITY TO REGULARLY REVIEW THIS AGREEMENT WHEN USING THE WEBSITE OR OUR SERVICES. Privacy
            %p
              Threadhabits reserves the right to modify or terminate the Website and Service for any reason, without notice and at any time. Threadhabits reserves the right to alter this Agreement or other policies at any time, so please review the policies frequently. If Threadhabits makes a material change, then Threadhabits will notify you here by posting updates to this Agreement or by means Threadhabits deems appropriate. What constitutes a "material change" will be determined at Threadhabits sole discretion, in good faith, and using common sense and reasonable judgment.

            %h4
              %strong 1. Threadhabits Marketplace

            %p
              Threadhabits is an online marketplace that allows users to offer, sell, and buy certain goods within a fixed-price format. Threadhabits is not directly involved in the transaction between buyers and sellers, unless you purchase from one of the in-house accounts managed by Threadhabits. Outside of Threadhabits in-house user account, Threadhabits has no control over the quality, safety, morality, or legality of any aspect of the items listed, the truth or accuracy of the listings, the ability of sellers to sell items, or the ability of buyers to pay for items. Threadhabits does not pre-screen users or the content or information provided by users. Threadhabits cannot ensure that a buyer or seller will actually complete a transaction.

            %p
              Legal ownership of items purchased on Threadhabits is transferred by the seller to the buyer after a sale is completed. Threadhabits does not transfer nor is it involved in the transfer of legal ownership of items from the seller to the buyer, except for items being sold from Threadhabits in-house accounts.

            %p
              Threadhabits cannot guarantee the true identity, age, nationality, or other features disclosed in a user’s profile. Threadhabits encourages you to communicate directly with potential transaction partners through the tools available on the Website or mobile application. You agree that Threadhabits is a marketplace and as such is not responsible or liable for any content, including but not limited to data, text, information, usernames, graphics, images, photographs, profiles, audio, video, items, and links posted by you, other users, or outside parties on Threadhabits.

            %h4
              %strong 2. Listing and Selling

            %h5
              %strong Listing Description

            %p
              You may list and sell new and gently used menswear and menswear accessories (such as clothing, shoes, bags, and jewelry) on the Website or on our mobile applications. You may not list or sell designer replicas or derivatives, including but not limited to items that are counterfeit, inauthentic, or not manufactured for retail sale by the designer whose name, logo, trademark, or design is represented in or on the item.

            %p
              By listing an item for sale on the Website, you warrant and represent that (a) you are in compliance with all aspects of this Agreement, including in respect of all items); (b) you have the legal right to sell the item and to post all of the descriptions, graphics, photos, images and any other content related to your listing of the item; (c) the description and depiction of the item, including any damage, is complete, truthful, and accurate; and (d) the item is listed in the appropriate category. Your listings may only include text descriptions, graphics, photos, images, and other content relevant to the sale of that item. All items must be listed in an appropriate category with relevant tags. Each unique item must have its own listing. In addition, certain items may be prohibited or restricted; you also need to make sure the sale of your item complies with all laws. If your listing does not comply, it may be removed.

            %h5
              %strong Binding Sale

            %p
              All sales are binding. The seller is responsible for accurately listing their items, and the buyer is responsible for reading the item description before making a purchase. The seller is obligated to ship the order to complete the transaction with the buyer in a prompt manner. The buyer is obligated to deliver the appropriate payment for items purchased.

            %p
              If you do not complete a sale or purchase, your account and all listings may be suspended and removed from the Website at Threadhabits’ sole discretion. You may request your account and listings be reinstated, which Threadhabits’ may do in its sole discretion.

            %h5
              %strong Transactions outside of Threadhabits

            %p
              The price stated in each item listing description must be an accurate representation of the selling price.

            %p
              Offers to buy or sell outside of the Website are a potential fraud risk for both buyers and sellers and are not protected by the Threadhabits buyer-seller protection, the Agreement, or other buyer/seller protection programs. Offers to buy or sell outside of the Website is unfair to other sellers, violates the Agreement, and will result in account termination. You may not exchange personal information or engage in any other activities to transact with another in any manner to avoid any transaction fee or the Threadhabits Secure Checkout process.

            %h5
              %strong Shipping Fees

            %p
              When a product is listed or sold on the site, shipping costs are determined by Seller. Seller is to  handle shipping on their own by adding reasonable shipping and handling fees to the sale price in order to cover the costs for packaging and mailing the item sold to the buyer.

            %h5
              %strong Buyer’s Information

            %p
              Upon completing a sale, sellers will have access to the buyer’s full physical address. As a seller, you are strictly prohibited from using this personal information for anything other than completing the sale.

            %h4
              %strong 3. Buying

            %p
              When purchasing an item, you agree that: (a) you are responsible for reading the full item listing before committing to purchase; (b) you enter into a legally binding contract with the seller to purchase his or her items when you commit to purchase the item; and (c) Threadhabits is not a party to the contract and does not transfer legal ownership of the item from seller to you (unless you have purchased an item from one of Threadhabits’ in-house accounts).

            %h4
              %strong User Submitted Content

            %p
              You may submit items (including images, artwork, text, graphics, logos, and similar items) in connection with the Website or Services (“User Submissions”).

            %h5
              %strong License

            %p
              Threadhabits does not claim ownership rights of User Submissions. You grant Threadhabits a non-exclusive, worldwide, perpetual, royalty-free, irrevocable, fully paid-up license to use, reproduce, create derivative works of, excerpt, reformat, distribute, perform, and display the User Submission (in whole or part) and to incorporate the User Submission in other works in any form, media, or technology now known or later developed, including without limitation (a) on the Website (including a mobile version of the Website); (b) on any application designed or developed to allow others to view your User Submission; (c) in materials created to promote the Website and its contents, and (d) in connection with online and offline events conducted in connection with the Website.

            %p
              You agree to allow Threadhabits to store, translate, or reformat User Submissions on the Website or Services and display User Submissions on Threadhabits in any way Threadhabits chooses. This includes a buyer using the same image(s) or text description as the original seller when using our re-list feature. Threadhabits will only use personal information in accordance with Threadhabits Privacy Policy.

            %p
              You represent and warrant that the User Submission (a) is your own original work and you own all rights in the User Submission or that you have all rights in the User Submission necessary to grant the license to the User Submission contained in this Agreement; (b) will not violate any third party rights, including any third party intellectual property rights, privacy rights, moral rights, or other proprietary rights; (c) does not violate any law or regulation; and (d) does not contain any virus or other malicious software, including any software which could interfere with the performance of the Website or collect user data from users of the Website.

            %h4
              %strong Information Control

            %p
              Threadhabits does not control the User Submissions provided by users that are made available on the Website and Services. You may find some User Submissions to be offensive, harmful, inaccurate, or deceptive. There are also risks of dealing with underage persons or people acting under false pretense.

            %p
              By using the Website and Services, you agree to accept such risks and that Threadhabits (and Threadhabits officers, directors, agents, subsidiaries, joint ventures and employees) is not responsible for any and all acts or omissions of users on Threadhabits. Please use caution, common sense, and practice safe buying and selling when using Threadhabits.

            %h5
              %strong
                Other Resources

            %p
              Threadhabits is not responsible for the availability of outside websites or resources linked to or referenced on the Website or Services. Threadhabits does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such websites or resources. You agree that Threadhabits shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such websites or resources.

            %h4
              %strong Termination

            %p
              Threadhabits may restrict, suspend, or terminate your use of or access to the Website or Services, without notice or liability to you and in its sole discretion, and without refunding any fees, if Threadhabits suspects (by information, investigation, conviction, settlement, or otherwise) that (a) you are in breach of, are attempting or threatening to breach, or are acting inconsistently with the terms and spirit of this Agreement; (b) you are in breach of, are attempting or threatening to breach, or are acting inconsistently with the terms and spirit of any Threadhabits policy; (c) your activities on or in relation to the Website may violate applicable law; (d) you are unable to verify or authenticate any of your personal information or User Submissions; (e) you have failed to pay a fee; (f) you may cause legal liability or financial loss to Threadhabits users or to Threadhabits; or (g) for any other reason at any time. This includes cancelling any unverified accounts or inactive accounts, warning Threadhabits’ community of a user’s actions, temporarily or indefinitely suspending a user’s account privileges, terminating a user’s account, or prohibiting access to the Website or Services, and taking technical or legal steps to keep a user off the Website and refusing to provide Services to a user. Further, any suspected fraudulent, abusive, or illegal activity, including violations of the Agreement and any additional Threadhabits policy, may be referred to appropriate law enforcement authorities or other appropriate third parties.

            %p
              Threadhabits reserves the right to suspend and/or terminate a user’s account or any accounts held by that user by virtue of association, including all usernames under which that user operates on the Website or Services.

            %h4
              %strong Personal Information and Privacy

            %p
              Threadhabits will only use personal information in accordance with its Privacy Policy.

            %p
              As part of a transaction, you may obtain personal information, including shipping information, from another user. Without obtaining prior permission, this personal information shall only be used for that specific transaction or for Threadhabits-related communications regarding that transaction with the other user. Threadhabits has not granted you a license to use the information for unsolicited commercial messages or unauthorized transactions. Without limiting the foregoing, without express consent from the user, you are not licensed to add any Threadhabits user to your email or physical mail list. For more information, see Threadhabits Privacy Policy.



          %section#privacy_policy
            %p
              This Privacy Policy governs the manner in which Threadhabits, LLC. (“Threadhabits,” the “Company,” or “we”) collects, uses, maintains, and discloses information collected from users (each, a "User") of our website located at www.threadhabits.com ("Website"), mobile applications and other services provided by Threadhabits, LLC. or any of its subsidiaries (collectively, “Services”).
            %h5
              %strong Changes to this privacy policy

            %p
              THREADHABITS HAS THE DISCRETION TO UPDATE THIS PRIVACY POLICY AT ANY TIME. WHEN WE DO, WE WILL REVISE THE UPDATED DATE AT THE BOTTOM OF THIS PAGE. WE ENCOURAGE USERS TO FREQUENTLY CHECK THIS PAGE FOR ANY CHANGES TO STAY INFORMED ABOUT HOW WE ARE HELPING TO PROTECT THE PERSONAL INFORMATION WE COLLECT. YOU ACKNOWLEDGE AND AGREE THAT IT IS YOUR RESPONSIBILITY TO REVIEW THIS PRIVACY POLICY PERIODICALLY AND BECOME AWARE OF MODIFICATIONS

            %h5
              %strong Personal identification information

            %p
              We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our Website or use our mobile application, register on the Website or for Services, place an order, list an item for sale, and in connection with other activities, services, features, or resources we make available using our Services. Users may be asked for, as appropriate, name, email address, mailing address, and phone number. Users may, however, visit our Website anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personal identification information, but it may prevent them from engaging in certain Website related activities or other Services.

            %p
              Threadhabits is located in the United States, and when you use our Website and our Services, we collect, use and store your information in the United States. Your personal information will be subject to laws of the United States, which may differ from your country of residence. For example, the law of the United States may require that your personal information be disclosed to government agencies under different circumstances than in your country of residence.

            %h5
              %strong Non-personal identification information

            %p
              We may collect non-personal identification information about Users whenever they interact with our Website or Services. Non-personal identification information may include, but is not limited to, the browser name, the type of computer or device, and the technical information about Users’ means of connection to our Website or Services, such as the operating system, the Internet service providers utilized, mobile network information, and other similar information.

            %h5
              %strong Web browser cookies

            %p
              Our Website may use "cookies" to enhance User experience. Users’ web browsers place cookies on their hard drive for record-keeping purposes and sometimes to track information about them. Users may choose to set their web browser to refuse cookies or to alert them when cookies are being sent. If they do so, note that some parts of the Website may not function properly.

            %h5
              %strong How we use collected information

            %p
              Threadhabits may collect and use Users’ personal information for the following purposes:

            %h5
              %strong To deliver our Services to you

            %p
              Threadhabits may use User’s personal identification information to deliver the Services and any other goods, services, or information that you request from Threadhabits or any other user of the Threadhabits Website or Services.

            %h5
              %strong To prevent, detect, and mitigate illegal activities

            %p
              Threadhabits may use User’s personal identification information to prevent, detect, and mitigate fraudulent, counterfeit, or illegal activities.

            %h5
              %strong To provide or improve customer service

            %p
              Information you provide helps us respond to your customer service requests and support needs more efficiently.

            %h5
              %strong To personalize user experience

            %p
              We may use information in the aggregate to understand how our Users as a group use our Services and resources provided on our Website.

            %h5
              %strong To improve our Website

            %p
              We may use feedback you provide to improve our products and services
            %h5
              %strong To process payments

            %p
              We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.

            %h5
              %strong To run a promotion, contest, survey, or other Website feature

            %p
              We may use the information Users provide to send information that Users agreed to receive about topics we think will be of interest to them.

            %h5
              %strong To send periodic emails

            %p
              We may use email addresses to send Users information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If Users agree to be on our mailing lists, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email. You may not, however, unsubscribe from emails about your account status or order status.

            %h5
              %strong How we protect your information

            %p
              We adopt appropriate data collection, storage and processing practices, and security measures that are designed to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our Website or Services.

            %h5
              %strong Disclosing your personal information

            %p
              We do not sell, trade, or rent Users’ personal identification information to others.

            %p
              Threadhabits may disclose Users' personal identification information to the following parties and for the following purposes:

            %h5
              %strong Sellers from whom you have purchased items

            %p
              When you buy an item on Threadhabits, the Seller receives information necessary to fulfill and complete your order and purchase. The information will only include that which is necessary and relevant to successfully complete your order. The seller is strictly prohibited from using your information for anything other than completing the sale.

            %h5
              %strong Business partners, trusted affiliates, and third party service providers

            %p
              We may disclose generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates, and advertisers, without notification to the User of such disclosure. We may use third party service providers to help us operate our business and our Website or administer activities on our behalf, such as sending newsletters or surveys. We may disclose your information, including your personal identification information, to these third parties only to the extent necessary for them to provide such services to us and such third party service providers are contractually obligated to maintain the confidentiality and security of that information. These third parties may be located outside of your country of residence. In this case, your personal information would be subject to the laws of the country to which it is transferred and stored, which may have laws that require that your personal information be disclosed to government agencies under different circumstances than would your country of residence.

            %h5
              %strong Corporate Transactions

            %p
              In the event of a sale, amalgamation, re-organization, transfer or financing of parts of some or all of Threadhabits business, your personal identification information may be disclosed to an acquiring organization either as part of due diligence or on completion of the transaction. If your personal identification information is ever disclosed in this context, Threadhabits will require the acquiring organization to agree to protect your personal identification information in accordance with this Privacy Policy and to only use your personal identification information for purposes relating to the transaction

            %h5
              %strong Law enforcement and government agencies

            %p
              We may disclose User’s personal identification information to law enforcement and government agencies in response to a verified request related to suspected illegal activities or related to a criminal investigation. We will only disclose information that we find necessary and relevant. Disclosed information may include User’s name, mailing address, phone number, and email address. Disclosure may be made without notice to User.

            %h5
              %strong Third Parties with intellectual property rights

            %p
              We may disclose User’s personal identification information to third parties with intellectual property rights who have complied with Threadhabits complaint procedure, as outlined in our Terms of Use Agreement. We will only disclose information found necessary and relevant in connection to an intellectual property infringement, fraud investigation, or other unlawful activity to which the third party has been subject, as detailed in our Verified Rights Owners Program. Disclosed personal identification information may include, but is not limited to, User’s name, mailing address, phone number, and email address. Disclosure may be made without notice to User.

            %p
              For avoidance of doubt, please take note that disclosing personal identification information to third parties with intellectual property rights includes the disclosure of personal identification information of a User who has been identified as selling unauthorized goods or replica items, which is in violation of our Terms of Use.

            %h5
              %strong Third parties in a legal proceeding

            %p
              We may disclose User’s personal identification information to third parties involved in a legal proceeding if the third party provides Threadhabits with a subpoena or other similar lawful process. Disclosure may be made without notice to User.

            %p
              Threadhabits will also disclose to third parties involved in a legal proceeding when Threadhabits believes in good faith that disclosing personal identification information is necessary to prevent imminent physical harm or financial loss, or to report suspected illegal activity.

            %h5
              %strong Disclosure related to Threadhabits’ Terms of Use Agreement

            %p
              If Threadhabits believes in good faith that User has breached the Terms of Use Agreement or any other Threadhabits agreement, Threadhabits may disclose such User’s personal identification information as found necessary and relevant to pursuing a claim or preventing further injury to Threadhabits, its Users, and others. Disclosure may be made without notice to User.

            %h5
              %strong Third party websites

            %p
              Users may find advertising or other content on our Website that links to the sites and services of our partners, suppliers, advertisers, sponsors, licensors, and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Website. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interacting on any other website, including websites which have a link to our Website, is subject to that website's own terms and policies. Threadhabits is not a party to those agreements; they are solely between you and the third party.

            %h5
              %strong Advertising

            %p
              Advertisements appearing on our Website may be delivered to Users by advertising partners, who may set cookies. These cookies allow the advertising server to recognize your computer each time they send you an online advertisement to compile non-personal identification information about you or others who use your computer. This information allows advertising networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy does not cover the use of cookies by any advertiser.

            %h5
              %strong Google Adsense

            %p
              Some of the advertisements may be served by Google. Google's use of the DART cookie enables it to serve advertisements to Users based on their visit to our Website and other sites on the Internet. DART uses "non-personally identifiable information" and does NOT track personal information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google advertising and content network privacy policy at
              = link_to "http://www.google.com/privacy_ads.html", "http://www.google.com/privacy_ads.html", target: "_blank"

            %h5
              %strong Storing Your Information

            %p
              Threadhabits will retain and store your personal identification information for as long as is necessary to provide you the Services and any other ancillary purposes. Following termination or deactivation of your account, Threadhabits or its service providers may retain information (including your profile information) for a commercially reasonable time for backup, archival, and/or audit purposes. If you have any questions about termination or deactivation of your account, please contact us directly at quinn@threadhabits.com

            %h5
              %strong Opt out

            %p
              If you would like to opt-out of communications from Threadhabits, please email quinn@threadhabits.com or call our Member Care team at 864.202.3107

            %h5
              %strong Your acceptance of these terms

            %p
              By using this Website or our Services, you signify your acceptance of this Privacy Policy and our Terms of Use Agreement. If you do not agree to this policy, please do not use our Website or Services. Your continued use of the Website and Services following the posting of changes to this policy will be deemed your acceptance of those changes.

            %h5
              %strong Contact us

            %p
              If you have any questions about this Privacy Policy, the practices of this Website, our third party service providers or your dealings with any of our Services, please email quinn@tradesy.com or contact us at 864.202.3107
