- content_for :javascript do
  AboutUs.initializeTweaks();
#about_us
  .container
    .row
      .col-md-3.col-sm-3.col-xs-3
        .side-affix#side-about-scrollspy
          %ul.nav
            %li.active
              %a{href: '#about'}
                About
                %span
            %li
              %a{href: '#market_place'}
                Market Place
                %span
            %li
              %a{href: '#contact'}
                Contact Us
                %span
            %li
              %a{href: '#faq'}
                Faq
                %span
            %li
              %a{href: '#authenticity'}
                Authenticity
                %span
            %li
              %a{href: '#toc'}
                Terms of use
                %span
            %li
              %a{href: '#privacy_policy'}
                Privacy policy
                %span
      .col-md-9.col-sm-9.col-xs-9
        .side-descriptions
          %section#about
            %p
              Founded in 2017, Threadhabits is a peer to peer clothing distribution marketplace that focuses on quality control, authentic goods, and affordable pricing. Wether you’re looking to purchase new clothing or sell clothing you’re wanting to get rid of, this is the place to do it.

            %p We created Threadhabits because we see the massive amount of room for potential, improvement, and opportunity in - not only the marketplace, e-commerce, and general tech realm - but even more specifically in the clothing and fashion industry.

            %p The main functionality and purpose of Threadhabits.com is to provide the community with a platform to uncover rare, sought-after & hard to find pieces, purchase affordable clothing, discover new companies, sell clothing, and to allow individuals access to a larger selection of clothing than their local selection.

            %p Each individual who creates an account has the opportunity to create an extensive custom user profile where they can follow other users, sell products, communicate freely and openly with those in the fashion community, browse through our site’s inventory, and much more.

            %p We have a very large vision for our company and product and have huge plans for the future. We look forward to having you as a long-term member and being the most important part of Threadhabits.

          %section#market_place
            %p Our marketplace is perfect if you’re looking to purchase new clothing or sell clothing you’re wanting to get rid of.

            %p Most marketplaces and companies charge the seller anywhere from 9%-20% commission on the sale made. Our marketplace is completely free.

            %p For our marketplace, we focus on quality control, making sure products are authentic, and keeping things affordable.

            %p We sustain quality control by filtering, editing, and deleting products, only allowing select sellers to sell on our marketplace, and more.

            %p For product authenticity, our team is experienced and knowledgeable about authentic and replica items, and if in the rare case a replica item is received, you are protected by our protection policy as well as PayPal’s.

            %p Lastly, we focus on keeping things affordable by allowing buyers and sellers to use our service for free.


            %h3
              %strong Selling tips

            %p Our marketplace is perfect if you’re looking to sell clothing you’re wanting to get rid of. Below are some tips to show how to list your items properly and to have successful sales on our platform.

            %h4
              %strong 1. Take Good Pictures.

            %p Taking good photos of your product is crucially important. Making sure your photos are taken correctly attracts buyers and allows the buyer to truly see the product that they’re interested in.

            %p Even if your item isn’t deadstock (brand new), you should do your best in making it look deadstock and as clean as possible. If possible, use solid backgrounds. Using a solid background makes the product look more attractive and will usually sell faster. Making your product pictures look like stock images almost guarantees your item to sell if priced correctly.

            %h4
              %strong 2. Price Competitively.

            %p We live in a world where everyone price checks items via their smartphone / the internet. Especially when purchasing online.

            %p When a buyer is looking at your product, realize that they will be checking other sources to see if they can find the item in better condition or for a better price. 99% of the time, if the buyer finds the same product for a cheaper price somewhere else, they will purchase it there and you will lose the sale.

            %p By offering unbeatably low prices, you can prevent losing sales. You shouldn’t give your stuff away dirt-cheap, however you should consider having better pricing than the rest of the market. This will translate to more sales long-term.


            %h4
              %strong 3. Communication.

            %p Communication is key. One of the many reasons that Threadhabits is different from other companies is that we emphasize user identity and prioritize open, easy, and transparent communication.

            %p On Threadhabits, we allow you to really engage with the customer through our messaging software as well as seeing the user’s individual profile.

            %p If you communicate well with the community and buyers on the platform - not only will you make more sales and build your reputation -  you will also be connecting and creating rapport with the international community.


          %section#contact
            %p
              Here’s our contact information if you have any questions, concerns or issues.
            %p
              We check our messages continuously 24 hours a day and 7 days a week, and will get back to you as soon as possible.
            %address
              %strong Email:
              %a{:href => "mailto:quinn@threadhabits.com"} quinn@threadhabits.com
              %br/
              %strong Phone Number:
              +1 (864)202-3107

          %section#faq
            %strong What is Threadhabits?
            %p Founded in 2017, Threadhabits is a peer to peer clothing distribution marketplace that focuses on quality control, authentic goods, and affordable pricing. Wether you’re looking to purchase new clothing or sell clothing you’re ready to get rid of, this is the place to do it.

            %strong How does it work?
            %p Sellers list their items on our platform, and they’re automatically published as inventory on our website.

            %strong What are your fees?
            %p One of the many things that makes Threadhabits so great is that it’s free for both buyers and sellers. Threadhabits charges 0% commission unlike other marketplaces that charge 9%-25%. However, PayPal does charge a 2.5% fee when you receive a payment. We are unable to do anything about PayPal fees.

            %strong How do I contact Threadhabits?
            %p Our customer service is 24/7. You can send us an email at quinn@threadhabits.com, use our contact form, or call us at +1 8642023107

            %strong How do I contact a user?
            %p You can contact a user by either clicking on the “Message” button on product listings, or on the “Message” button on the user’s profile.


            %h3
              %strong Orders, Shipping & Returns

            %strong How does payment work?
            %p As a buyer, you are able to purchase an item through our secure PayPal checkout process using either your credit card, debit card, or PayPal balance.

            %strong Do you ship internationally?
            %p The option to ship internationally is decided on by the individual seller. If you have any concerns about shipping, feel free to contact the seller directly through our messenger.

            %strong Do you accept PayPal?
            %p All sellers on Threadhabits are required to have a PayPal account to list items on our platform. Any seller on our account accepts PayPal.

            %strong What payment methods do you accept?
            %p As a buyer, you are able to purchase an item through our secure PayPal checkout process using either your credit card, debit card, or PayPal balance. PayPal accepts all major card companies.

            %strong How do I place an order?
            %p You can place an order by adding an item to your cart and checking out, by clicking the “Checkout with PayPal” button on the product listing, or by clicking the purchase button visible in your messenger if you were discussing a product with a seller.

            %strong Why isn’t my payment going through?
            %p Although there are many reasons that your payment could be declined, a few examples could be your card information being incorrect, having an insufficient PayPal balance, or your bank declining your payment. Our payment processor is PayPal, so it may be beneficial to take a look at their reasons as to why your payment could be declined.

            %strong Are your items authentic?
            %p Unlike a lot of marketplaces, we pay incredible attention to quality control on our site. We look at each listing individually to make sure that the listing images are high-quality, the product is described correctly, the user is qualified to sell on our platform, and the item is authentic. If you receive an item that you believe was not described correctly or isn’t authentic, you are protected by Threadhabits and by PayPal’s buyer seller protection that insures money back guaranteed.

            %strong Do you accept returns?
            %p The ability to return an item varies and is dependent on each individual seller on our platform. If you want to know if a seller accepts returns on the item they are selling, we recommend that you contact the seller directly. If an item received is damaged or not as described, you are protected by our protection policy as well as PayPal’s.

            %strong How much does shipping cost?
            %p Similar to returns, shipping costs are also dependent on the sellers on our platform. Shipping costs are determined by each individual seller and may vary based on location. We recommend that you contact the seller directly if you have any questions regarding shipping of a particular item.


            %h3 Selling on Threadhabits

            %strong How do I sell on Threadhabits?
            %p Firstly, to sell on Threadhabits you need to have an account with us. After logging into your account, there is a “Sell” button in the top right corner that you click on to create a listing.

            %strong How do I get paid?
            %p As a seller, when a buyer purchases your item, the funds are deposited directly into the PayPal account associated with the email address you supplied us with in your settings.

            %strong When do I receive payment?
            %p As soon as a buyer purchases your product, their funds are deposited directly into your PayPal account.

            %strong What are your fees?
            %p One of the many things that makes Threadhabits so great is that it’s free for both buyers and sellers. Threadhabits charges 0% commission unlike other marketplaces that charge 9%-25%. However, PayPal does charge a 2.5% fee when you receive a payment. We are unable to do anything about PayPal fees.

            %strong As a seller, do I pay for shipping?
            %p Shipping is paid for by the buyer. As a seller, you are in charge for listing the shipping cost that the buyer pays for your product.

            %strong How do I edit or delete my listing?
            %p To edit or delete your listing, simply go to your product page and there will be an option to edit your listing or delete your listing.

          %section#authenticity
            %p As we mentioned, we take quality control and authenticity very seriously. We don’t allow any un-authentic or replica items to be sold on our platform.

            %p Our team is knowledgeable enough to know if an item is authentic or a replica. If a seller attempts to sell replica items on our platform, they will be banned from using our service permanently.

          %section#toc
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          %section#privacy_policy
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
