$('#public-listings .listing-item').append('<div class="row"><%= j render partial: "listings/listing", collection: @listings %></div>');
<% if @listings.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @listings %>');
<% else %>
  // $(window).off('scroll');
  $('.pagination').remove();
<% end %>
