.filter-board {
  @include border-radius(4px);
  margin-bottom: 10px;
  padding: 5px 0px;
  margin-top: 20px;

  #toggle-filter-menu {
    font-size: 20px;
  }
}

.load-more-listing {
}

#filter-menu {
  @include toggle-in-out(-1000px);
  @include collapsed-menu();

  h3 {
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
  }

  ul.sub-categories {
    margin-top: 30px;
    padding: 0px 18px;
    border-bottom: 1px solid $primary-color;
    margin-bottom: 5px;
    li {
      font-size: 18px;
      font-weight: lighter;
      text-transform: uppercase;
      margin-bottom: 10px;
      a {  color: $default-color !important;  }
    }

    li.active-category {
      background-color: #ccc;
      padding: 0px 10px;
    }
  }
  .listing-filters {
    margin-top: 30px;

    form { width: auto !important; }
    .panel {
      border: 0;
      .panel-body { padding: 0px !important; font-size: 18px !important; }
    }

    .field-strip {
      background: none !important;
      font-weight: lighter !important;
      span { display: none; }
    }

    .scroll {
      padding: 0px 10px !important;
      label {
        font-weight: lighter;
      }
    }

    .form-action {
      margin-top: 30px;
      text-align: center;
      button {
        width: 100%;
        font-size: 18px;
      }
    }
  }
}

.listing-details-phone {
  margin-top: -12px;
  .carousel {
    .carousel-indicators {
      bottom: -40px;
      li {
        border-color: $default-color;
        background-color: $default-color;
      }
      li.active {
        border-color: #ccc;
        background-color: #ccc;
      }
    }
    .carousel-inner {
      .item {
        img { max-width: 100%; }
      }
    }
  }

  .details {
    margin-top: 30px;
    line-height: 33px;
    .created-at {
      color: rgba(119, 119, 119, 0.7);
      font-weight: 100;
      border-bottom: 1px solid rgba(119, 119, 119, 0.3);
      margin-bottom: 5px;
    }
    ul.info-section-1 {
      li { font-size: 18px; }
    }

    .info-section-2 {
      margin-top: 6px;
      .person-details {
        .person-avatar-thumbnail {
          line-height: 22px !important;
        }
      }
    }
  }
}

.listings {
  .caption { min-height: 180px !important; }
}

.listing-uploads {
  img.file-preview-image { width: 100% !important; height: auto !important; }
}