// Note: @extend cannot be included in @media query.

@mixin toggle-in-out($left: 1000px, $absolute: true) {
  // Default toggled out
  @if $absolute {
    position: absolute;
  } @else {
    position: relative;
  }
  left: $left;
  @include single-transition(all, 0.35s, ease-in-out);
}

body {
  margin-top: 0 !important;
}

main { min-height: 450px; }

.main-container { @include single-transition(all, 0.35s, ease-in-out); }

.main-toggle-animation {
  position: fixed;
  left: 1000px;
}

.landing-banner {
  top: 0 !important;
  background-position-y: 0px !important;
}

.person-avatar-thumbnail {
  text-align: center;
  margin-bottom: 15px;
  line-height: 25px;
  a {
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  span { display: block; }
  span.username { font-weight: 100; }
  span.name { font-weight: 300; }
}

.heading_section {
  min-height: 85px !important;
  padding: 10px 2em !important;
  margin-top: 50px !important;
  h2 {
    font-size: 30px !important;
  }
}

.authform-container {
  width: 85% !important;
}

.flash-messages {
  margin-top: 60px;
}

.landing-banner {
  min-height: 300px !important;
  h1 {
    font-size: 2.4em !important;
    line-height: 50px !important;
  }
}