.device-header {
  a {
    color: $default-color !important;
  }

  .navbar-header {
    button.navbar-toggle {
      float: left;
      background-color: $primary-color;
      border-color: $primary-color;
      span {
        background-color: $default-color;
      }
    }

    a.navbar-search {
      float: right;
      padding: 15px 15px;
      font-size: 18px;
      line-height: 20px;
      height: 50px;
    }

    a.navbar-brand {
      width: 100%;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position-y: 3px !important;
      background-position: center !important;
      background: url($s3-asset-path + "threadhabitsheader_logo.png");
    }
  }

  .navbar-search-form {
    top: 0px;
    @include toggle-in-out();
    padding: 8px 10px;

    input[type='text'] {
      border-width: 1px;
    }
    .input-group-addon, input[type='text'] {
      border-radius: 1px;
    }
    .input-group-addon {
      background-color: $primary-color;
      border: 0;
    }
  }
}

// collapse nav menu left side
#navbar-menu {
  @include toggle-in-out(-1000px);
  @include collapsed-menu();

  .person-avatar-thumbnail {
    .alphabetical-avatar {
      font-size: 3em !important;
    }
  }

  ul {
    margin-bottom: 45px;
    a { color: #000; }
    li {
      line-height: 60px;
      font-size: 25px;
    }
    li.sell { a { color: $sell-color !important; } }
  }
}