nav.application-top-header {
  // Center Navbar
  .navbar-center {
    text-align: center;
    li { width: 100%; }

    .brand_name {
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      color: #000 !important;
      letter-spacing: 1.5px;
    }
  }

  // Navbar right side
  .navbar-right {
    li {
      text-transform: uppercase;
      text-align: center;
    }

    li.side-right-li {
      float: right;
    }

    li a.sell-btn span {
      border: 1px solid #f38f8f;
      padding: 8px 10px;
    }
    li.navbar-profile-icon {
      img {
        width: 30px;
        position: absolute;
        top: 8px;
      }
      a {
        margin-left: 25px;
      }
    }
  }

  // Navbar left side
  form.navbar-search-form {
    position: relative;
    top: 9px;
    input[type='text'] {
      border-width: 1px;
    }
    .input-group-addon, input[type='text'] {
      border-radius: 1px;
    }
    .input-group-addon {
      background-color: #fff;
    }
  }
}

nav.application-bottom-header {
  min-height: 38px;
  font-size: 11px;
  ul li {
    text-transform: uppercase;
  }
  ul.side-left-section {
    li {
      padding: 0px 10px;
    }
  }
  ul.side-right-section {
    padding-right: 0px;
    li { text-align: center; float: right; padding: 0px 10px; }
  }
  li.listing-view-options {
    a {
      color: #000;
      display: inline-block;
    }
  }
}
