.alphabetical-avatar {
  padding: 12px 0px;
  text-align: center;
  font-size: 5em;
  border: 1px solid $primary-color;
  color: $default-color;
  line-height: 1.555em;
}

.alphabetical-avatar-nav {
  @extend .alphabetical-avatar;
  font-size: 1em;
  display: inline-block;
  padding: 6px 10px;
  margin-right: -30px;
}
.alphabetical-avatar-user-profile {
  @extend .alphabetical-avatar;
  padding: 27px 0px;
  background-color: $primary-color;
  margin-bottom: 19px;
  border-radius: 4px;
}
.alphabetical-avatar-inbox-list {
  @extend .alphabetical-avatar;
  font-size: 2em;
}
.alphabetical-avatar-inbox-detail {
  @extend .alphabetical-avatar;
  font-size: 3em;
  padding: 16px 0px;
}
