@mixin authform-container($width) {
  width: $width;
}

.authform {
  margin: 0 auto; 
}

.authform-container {
  @include authform-container(30%);
}

.authform-container-fluid {
  @include authform-container(40%);
}

.validation-errors {
  font-size: 15px;
}

.field_with_errors { display: inline; }
