nav.application-top-header {
  // Center Navbar
  .navbar-center {
    text-align: center;
    li { width: 100%; }

    .brand_name {
      padding: 10px 13px;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      color: #000 !important;
      letter-spacing: 1.5px;
    }
  }

  // Navbar right side
  .navbar-right {
    li {
      text-transform: uppercase;
      text-align: center;
      float: right;
      a {
        padding: 15px 20px;
      }
    }

    li.side-left-li a, li.side-right-li a {
      font-size: 12px;
    }
    li a.sell-btn {
      font-size: 15px;
    }

    li a.sell-btn span {
      border: 1px solid #f38f8f;
      padding: 8px 10px;
    }

    li.open {
      a, a:focus, a:hover, {
        background-color: transparent !important;
      }
      .dropdown-options {
        display: flex;
        padding: 0
      }
    }

    li.navbar-profile-icon {
      a.dropdown-toggle {
        span {
          font-size: 12px;
        }
      }
      .dropdown-menu {
        padding: 0;
        ul.dropdown-options {
          width: 100%;
          border-bottom: 1px solid #bdbdbd;
          a { padding: 35px 0px; i { font-size: 2.5em; } }
          li {
            border-right: 1px solid #bdbdbd;
            width: 130px;
            list-style: none;
            &:hover { background-color: rgba(204, 204, 204, 0.22); }
          }
          li:last-child {
            border-right: 0px;
          }
          li:first-child {
            span.notify_message {
              position: absolute;
              font-size: 5px;
              right: 5px;
              top: 21em;
              color: red;
              display: none;
            }
          }
        }
        .dropdown-bottom {
          ul {
            margin-right: 0;
            padding: 0px 0px;
            li a { padding: 10px 10px; }
          }
        }
      }

      img {
        width: 30px;
        position: absolute;
        top: 8px;
        left: 10px;
      }
      > a {
        margin-left: 25px;
      }
    }
  }

  // Navbar left side
  form.navbar-search-form {
    position: relative;
    top: 9px;
    width: 95%;
    input[type='text'] {
      border-width: 1px;
    }
    .input-group-addon, input[type='text'] {
      border-radius: 1px;
    }
    .input-group-addon {
      background-color: #fff;
    }
  }
}

nav.application-bottom-header {
  min-height: 0px;
  font-size: 11px;
  border-width: 0px;
  margin-top: 50px;
  z-index: 2;
  ul li {
    text-transform: uppercase;
    a {
      padding: 8px 0px;
    }
  }
  ul.side-left-section {
    li {
      padding: 0px 10px;
      width: 20%;
    }
  }
  ul.side-right-section {
    padding-right: 0px;
    li {
      text-align: right; float: right; padding: 0px 10px; width: 25%;
    }
    li:first-child {
      padding-right: 30px;
    }
  }
  li.listing-view-options {
    a {
      color: #000;
      display: inline-block;
    }
  }
}

// window size ipad
@media (max-width: 1024px) {
  nav.application-top-header {
    .navbar-center {
      .brand_name { font-size: 15px; }
    }
  }
}

@media (min-width: 1440px) {
  nav.application-top-header {
    .navbar-center {
      .brand_name {
        padding: 7px 165px;
      }
    }
  }
}
