///* Media Styles for Desktops */

// iPad in portrait & landscape
@media only screen and (min-device-width : $ipad_min_width) and (max-device-width : $ipad_max_width)  {
  // Body container
  .container {
    width: auto;
  }

  // Navbar Top bar links
  nav.application-top-header .navbar-right li.side-left-li a, nav.application-top-header .navbar-right li.side-right-li a {
    padding: 15px 12px;
  }

  // Navbar Center Logo
  .navbar-center {
    padding: 0px;
    a.brand_name { padding: 15px 13px !important; }
  }

  // Navbar Form Input
  nav.application-top-header form.navbar-search-form input[type='text'] {
    width: 325px;
  }

  // Navbar Bottom
  nav.application-bottom-header {
    ul.side-left-section li {
      padding-right: 30px;
    }
    ul.side-right-section li {
      padding-left: 30px;
    }
  }

  // Listings Box
  .listings .caption {
    min-height: 170px;
  }
}

// Window Size Above Mac book 13inch
@media (min-width: $mac_book_13inch_width) {
  // Listings Box
  .listings .caption {
    .price { font-size: 17px; }
  }
}

// Window Size Below Mac book 13inch
@media (max-width: $mac_book_13inch_width) {
  // Navbar Bottom
  nav.application-bottom-header {
    ul.side-left-section li {
      padding-right: 50px;
    }
    ul.side-right-section li {
      padding-left: 50px;
    }
  }
}

