$s3_asset_path: "https://s3-us-west-2.amazonaws.com/threadhabits/"

$threadhabits-theme-bg-color: #ffffff

$danger: #e04343
$danger-border: #ad6873

$success: #D1D1D1
$success-border: #cacaca

$white: #fff
$black: #000

$sell-link: #ba0028
