// S3 Path
$s3-asset-path: "https://s3-us-west-2.amazonaws.com/threadhabits/"

// Colors
$bg-theme-color: #ffffff

$danger-color:         #e04343
$danger-border-color:  #ad6873
$success-color:        #D1D1D1
$success-border-color: #cacaca

$primary-color: #fff
$default-color: #000

$sell-color:     #ba0028
$feedback-color: #b8ea1a

// Bootstrap Customised
$form-input-color:      #9a9898
$form-input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 51, 53, 0.6)

// Importing Compass variables for mixin;
@import "compass/css3"
$default-text-shadow-color: $default-color // default text shadow color


// Media query sizes
$iphone-min-width:      375px
$iphone-max-width:      667px
$ipad-min-width:        768px
$ipad-max-width:        1024px
$mac-book-13inch-width: 1440px
