// S3 Path
$s3_asset_path: "https://s3-us-west-2.amazonaws.com/threadhabits/"

// Colors
$theme_bg_color: #ffffff

$danger: #e04343
$danger-border: #ad6873

$success: #D1D1D1
$success-border: #cacaca

$white: #fff
$black: #000

$sell: #ba0028

// Media query sizes
$iphone_min_width: 375px
$iphone_max_width: 667px

$ipad_min_width: 768px
$ipad_max_width: 1024px

$mac_book_13inch_width: 1440px
