/*
*= require select2.min
*= require fileinput.min
*= require awesome-checkboxes
*= require nouislider.min
*/
@import "font-awesome";
@font-face {
  font-family: 'Avenir Roman';
  src:font-url('AvenirLTStd-Book.otf');
  src:font-url('AvenirLTStd-Light.otf');
  src:font-url('AvenirLTStd-Roman.otf');
  font-weight: normal;
  font-style: normal;
}

@import "compass";

@import "base";

@import "customised_bootstrap";

// Components
@import "components/footer";
@import "components/form";
@import "components/listings";
@import "components/navigation";

// Pages
@import "pages/profiles";
@import "pages/welcome";
@import "pages/settings";
@import "pages/listings";
@import "pages/inbox";
@import "pages/follow";
