/*
*= require select2.min
*= require fileinput.min
*= require awesome-checkboxes
*= require nouislider.min
*= require easyzoom
*/
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@font-face {
  font-family: 'Lato', sans-serif;
}

@import "compass";

@import "base";

@import "customised_bootstrap";

// Components
@import "components/footer";
@import "components/form";
@import "components/listings";
@import "components/navigation";
@import "components/alphabetical_avatar";
@import "components/responsive"; // Desktop Responsiveness CSS


// iPhone in portrait & landscape
@media only screen and (min-device-width : $iphone_min_width) and (max-device-width : $iphone_max_width) {
  @import "components/mobile_responsive/main";
  @import "components/mobile_responsive/navigation";
}

// Pages
@import "pages/profiles";
@import "pages/welcome";
@import "pages/settings"; // Media Queries Here - Bottom
@import "pages/listings";
@import "pages/inbox";
@import "pages/follow";
@import "pages/about_us";
