/*
*= require select2.min
*= require fileinput.min
*= require awesome-checkboxes
*= require nouislider.min
*= require easyzoom
*/
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

@import "compass";

@import "base";

body {
  font-family: 'Lato', sans-serif !important;
  background-color: $bg-theme-color;
  margin-top: 5em;
  position: relative;
}

@import "customised_bootstrap";

/******* Components *******/
@import "components/footer";
@import "components/form";
@import "components/listings";
@import "components/navigation";
@import "components/alphabetical_avatar";

/******* Mobile/Ipad Devices CSS *******/
@import "components/responsive";

/******* Pages *******/
@import "pages/profiles";
@import "pages/welcome";
@import "pages/settings";
@import "pages/listings";
@import "pages/inbox";
@import "pages/follow";
@import "pages/about_us";
