/*
*= require select2.min
*= require fileinput.min
*= require awesome-checkboxes
*= require nouislider.min
*/
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@font-face {
  font-family: 'Lato', sans-serif;
}

@import "compass";

@import "base";

@import "customised_bootstrap";

// Components
@import "components/footer";
@import "components/form";
@import "components/listings";
@import "components/navigation";

// Pages
@import "pages/profiles";
@import "pages/welcome";
@import "pages/settings";
@import "pages/listings";
@import "pages/inbox";
@import "pages/follow";
