$threadhabits-theme-bg-color: #FBFBFB;

// Application Welcome Sass
body {
  font-family: 'Avenir Roman', sans-serif;
  background-color: $threadhabits-theme-bg-color;
}
.landing-banner {
  background: url('THbanner');
  text-align: center;
  color: #fff;
  h1 {
    font-size: 5.4em;
    font-weight: 900;
  }
  p {
    font-size: 2em;
    line-height: 1.38462em;
    font-weight: 600;
    margin: 0.75em auto;
    max-width: 22.5em;
  }
}

main {
  min-height: 500px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.heading_section {
  background-color: #D1D1D1;
  background: url('THcover.png');
  min-height: 95px;
  padding: 10px 6em;
  margin: 0px -15px;
  margin-bottom: 15px;
  h1, h2, h3, h4 {
    color: #fff;
    font-weight: 600;
  }
  h1 { font-size: 40px; }
  h2 { font-size: 35px; }
}

a {
  color: #777;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
  }
}

ul.list-right {
  float: right !important;
  margin-right: 0;
}
