// Application Welcome Sass
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.landing-banner {
  background: url('https://threadhabits.s3-us-west-2.amazonaws.com/images/communities/cover_photos/2/hd_header/THcover_copy.png?1479054958');
  text-align: center;
  color: #fff;
  h1 {
    font-size: 5.4em;
    font-weight: 900;
  }
  p {
    font-size: 2em;
    line-height: 1.38462em;
    font-weight: 600;
    margin: 0.75em auto;
    max-width: 22.5em;
  }
}
