%nav.navbar.navbar-default.application-bottom-header
  .container-fluid
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.col-md-8.col-sm-8.col-xs-8.side-left-section
        %li
          %a{:href => "#"}
            Tops
        %li
          %a{:href => "#"}
            Bottoms
        %li
          %a{:href => "#"}
            Shoes
        %li
          %a{:href => "#"}
            Accessories
      %ul.nav.navbar-nav.navbar-right.col-md-4.col-sm-4.col-xs-4.side-right-section
        %li
          %a{:href => "#"}
            Submit your outfit
        %li
          %a{:href => "#"}
            Content
        %li.listing-view-options
          %a{:href => "#"}
            %i.fa.fa-th-large
          %a{:href => "#"}
            %i.fa.fa-th-list
          %a{:href => "#"}
            %i.fa.fa-map-marker
