- content_for :javascript do
  Mobile.collapseHeaderTweaks();

#nav-menu-bar
  -# Side Nav Menu
  %ul.list-unstyled.text-center
    %li.dismiss-times
    - if person_signed_in?
      %li
        = person_mobile_view_avatar(current_person)
      %li
        = link_to "Log Out", destroy_person_session_path, method: :delete
    - else
      %li
        %a{:href => new_person_registration_path}
          Register
      %li
        %a{:href => new_person_session_path}
          Login
    %li
      %a{:href => about_us_path} About
    %li
      %a{:href => "/about_us#contact"} Contact
    %li
      %a{:href => "#"} Filters
    %li
      %a{:href => "#"} Categories
    %li
      %a{:href => "#"} Settings
    %li.sell
      %a{:href => "#"} Sell



%nav.navbar.navbar-default.device-header.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-search{:href => "#"}
        %i.fa.fa-search
      %a.navbar-brand{:href => root_path}

    -# Navbar search form
    .navbar-search-form
      = form_tag inventory_path(@p.merge!(filters: { q: @p[:filters][:q] })), method: :get do
        .form-group
          .input-group
            .input-group-addon.submit-search
              %i.fa.fa-search
            = text_field_tag "filters[q]", @p[:filters][:q], class: "form-control", placeholder: "Search"
            .input-group-addon.cancel-search
              %i.fa.fa-times