%nav.navbar.navbar-default.application-top-header
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .row
        .col-md-5.col-sm-5.col-xs-5.col-lg-5
          %form.navbar-search-form
            .form-group
              .input-group
                .input-group-addon
                  %i.fa.fa-search
                %input.form-control{:placeholder => "Search", :type => "text"}/
        %ul.nav.navbar-nav.navbar-center.col-md-3.col-xs-3.col-sm-2.col-lg-2
          %li
            %a.brand_name{:href => root_path}
              Threadhabits
        %ul.nav.navbar-nav.navbar-right.col-md-4.col-xs-4.col-sm-5.col-lg-5
          %li.side-left-li
            %a{:href => "#"} About
          %li.side-left-li
            %a{:href => "#"} Contact

          - if person_signed_in?
            %li.side-right-li
              %a.sell-btn{:href => "#"}
                %span Sell
            %li.side-right-li
              %a{:href => "#"}
                %i.fa.fa-shopping-bag
            %li.navbar-profile-icon.side-right-li.dropdown
              = image_tag "http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/profile-icon.png", class: "img-responsive"
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %span Quinn
              .dropdown-menu
                %ul.dropdown-options
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-inbox.fa-3x
                      %br/
                      Inbox
                  %li
                    %a{:href => profiles_path(current_person.username)}
                      %i.fa.fa-user.fa-3x
                      %br/
                      Profile
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-cog.fa-3x
                      %br/
                      Settings
                .dropdown-bottom
                  %ul.list-inline
                    %li
                      %a{href: "#"}
                        Admin Dashboard
                    %li.pull-right
                      = link_to "Log Out", destroy_person_session_path, method: :delete


          - else
            %li.side-right-li
              %a.sell-btn{:href => new_person_session_path}
                %span Sell
            %li.side-right-li
              %a{:href => new_person_registration_path}
                Register
            %li.navbar-profile-icon.side-right-li
              %a{:href => new_person_session_path}
                Login
