%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .row
        .col-md-3
          %form.navbar-form.navbar-left
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-default{:type => "submit"} Submit
        %ul.nav.navbar-nav.navbar-center.col-md-5
          %li
            %a{:href => "#"}
              Threadhabits
        -# %form.navbar-form.navbar-left
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text"}/
          %button.btn.btn-default{:type => "submit"} Submit
        %ul.nav.navbar-nav.navbar-right.col-md-4
          %li
            %a{:href => "#"} Link
