!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  %body
    .container
      %header
        = stylesheet_link_tag 'emails.css'
        %h1.main
          THREADHABITS
      %main
        = yield
